# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

#env vars
.env

# exclude user uploaded images
/public/uploads/*

# include folder for uploading images
!public/uploads/.gitkeep 